<?php
/**
 * settings.local.ini.php
 * 
 * Defines local initialization settings for sabretooth, overriding default settings found in
 * settings.ini.php
 */

global $SETTINGS;

// whether or not to run the application in development mode
$SETTINGS['general']['development_mode'] = false;

// defines the username and password used by mastodon when communicating as a machine
$SETTINGS['general']['machine_user'] = 'put machine user name here';
$SETTINGS['general']['machine_password'] = 'put machine password here';

// the file path to the framework and application
$SETTINGS['path']['CENOZO'] = '/path/to/cenozo';
$SETTINGS['path']['APPLICATION'] = '/path/to/sabretooth';

// the path to the log file
$SETTINGS['path']['LOG_FILE'] = $SETTINGS['path']['APPLICATION'].'/log';

// database settings (the driver, server and prefixes are set in the framework's settings)
$SETTINGS['db']['username'] = 'put your database username here';
$SETTINGS['db']['password'] = 'put your database password here';

// IVR setup
$SETTINGS['ivr']['enabled'] = false;
$SETTINGS['ivr']['host'] = 'https://localhost/'; // must end in a /
$SETTINGS['ivr']['service'] = 'relative/path/to/service'; // must NOT begin with a /
$SETTINGS['ivr']['username'] = 'put your ivr username here';
$SETTINGS['ivr']['password'] = 'put your ivr password here';
