<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top"><h4>Mass Interview "{{ model.qnaireName }}"</h4></div>
  <form name="form" class="form-horizontal" novalidate>
    <div class="form-body container-fluid">
      <div class="container-fluid text-info">
        This utility allows you change the interview method for multiple participants for the <strong>{{ model.qnaireName }}</strong>
        questionnaire.  In order to proceed you must first select which participants to affect.  This can be done by
        typing the unique identifiers (ie: A123456) of all participants you wish to have included in the operation, then
        confirm that list to ensure each of the identifiers can be linked to a participant.
      </div>
      <hr />
      <div class="form-group">
        <label for="method" class="col-sm-3 control-label">Interview Method</label>
        <div class="col-sm-9">
          <div class="input-group">
            <select ng-attr-id="method"
                    name="method"
                    ng-model="model.method"
                    ng-change="model.inputsChanged()"
                    class="form-control"
                    ng-required="true">
              <option value="phone">phone</option>
              <option value="web">web</option>
            </select>
          </div>
          <div class="vertical-spacer container-fluid text-warning">
            <strong>NOTE:</strong>
            <span ng-if="'phone' == model.method">
              When switching from web to phone only <strong>existing web interviews</strong>
            </span>
            <span ng-if="'web' == model.method">
              When switching from phone to web only participants in the <strong>eligible queue</strong> who have
              a <strong>valid email address</strong>
            </span>
            will be included in the final selection list after the "Confirm List" button is clicked.
          </div>
        </div>
      </div>
      <cn-participant-selection model="model.participantSelection"></cn-participant-selection>
      <div ng-if="model.participantSelection.confirmedCount">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Confirm selection</strong>
          </div>
          <div class="container-fluid panel-body">
            You have selected a total of {{ model.participantSelection.confirmedCount }} participants to change the interviewing method for.
            If you wish to proceed you may select the interview method and click the "Proceed" button below, or you may
            make changes to the participant selection list above.
          </div>
          <div class="form-footer text-right rounded-bottom bg-info">
            <button type="button"
                    class="btn btn-primary"
                    ng-disabled="model.working"
                    cn-really-message="Are you sure you wish to change the interview method for the {{ model.participantSelection.confirmedCount }} selected participants?"
                    ng-click="model.proceed()">{{ model.working ? 'Working...' : 'Proceed' }}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
