/**
 * main.css
 * 
 * Main styles used throughout the application
 */

html, body {
  margin: 0px 0px 0px 0px;
  font: 14px Arial, Helvetica, sans-serif;
  height: 100%;
}

/* needed to make jquery.layout margins 0 */
.ui-layout-pane {
  padding: 0px !important;
}

/* Used by the top extruder UI component  */
.extruder.top .flap {
  display: block;
  font: 16px/24px Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 0 5px 5px 5px;
  height: 20px;
  width: 180px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-box-shadow: black 2px 2px 5px;
  -webkit-box-shadow: black 2px 2px 5px;
  cursor: pointer;
}

.extruder.top .content {
  display: none;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-box-shadow: black 2px 2px 5px;
  -webkit-box-shadow: black 2px 2px 5px;
}

.extruder.top .text {
  font: 14px Arial, Helvetica, sans-serif;
  padding: 10px;
  border-bottom: 1px solid #333;
}

#app_ui {
  min-height: 100%;
}

#header_slot {
  text-align: right;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

#main_slot {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

table {
  width: 100%;
  border-spacing: 0px;
  text-align: center;
}

.error_code {
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
}

.title {
  font-weight: bold;
}

.spacer {
  margin: 16px;
}

.padded {
  padding: 1px;
}

/* override a few things in the jquery ui theme */
.ui-button-text-only .ui-button-text { padding: .1em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .1em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .1em 1em .1em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .1em 2.1em .1em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
