/**
 * main.css
 * 
 * Main styles used throughout the application
 */

html, body {
  margin: 0px 0px 0px 0px;
  font: 14px Arial, Helvetica, sans-serif;
  height: 100%;
}

/* needed to make jquery.layout margins 0 */
.ui-layout-pane {
  padding: 0px !important;
}

/* Used by the top extruder UI component  */
.extruder.top .flap {
  display: block;
  font: 16px/24px Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 0 5px 5px 5px;
  height: 20px;
  width: 180px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-box-shadow: black 2px 2px 5px;
  -webkit-box-shadow: black 2px 2px 5px;
  cursor: pointer;
}

.extruder.top .content {
  display: none;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-box-shadow: black 2px 2px 5px;
  -webkit-box-shadow: black 2px 2px 5px;
}

.extruder.top .text {
  font: 14px Arial, Helvetica, sans-serif;
  padding: 10px;
}

.extruder.left {
  height: 100%;
}

.extruder.left .ext_wrapper{
  height: 100%;
}

.extruder.left .flap{
  display: block;
  font: 16px Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-right: -28px;
  padding: 64px 3px 60px 3px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-box-shadow: black 2px 2px 5px;
  -webkit-box-shadow: black 2px 2px 5px;
  cursor: pointer;
}

.extruder.left .content {
  display: none;
  -moz-box-shadow: black 2px 0px 5px;
  -webkit-box-shadow: black 2px 0px 5px;
}

.extruder.left .text {
  font: 14px Arial, Helvetica, sans-serif;
  padding: 10px;
}

#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid #111;
  background-color: #eee;
  padding: 5px;
  opacity: 1.0;
  -moz-border-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-box-shadow: black 2px 2px 5px;
  -webkit-box-shadow: black 2px 2px 5px;
}

#tooltip h3, #tooltip div {
  margin: 0;
}

#app_ui {
  min-height: 100%;
}

#status_slot {
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 35px;
  margin-right: 4px;
}

#shortcuts_slot {
  text-align: right;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 10px;
}

#main_slot {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 35px;
  margin-right: 10px;
}

div.app-widget-content {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 8px;
  position: relative;
}

table {
  width: 100%;
  border-spacing: 0px;
  text-align: center;
}

td.heading {
  white-space: nowrap;
  padding: 4px;
  font-weight: bold;
  text-align: left;
}

td.content {
  padding: 4px;
  font-weight: normal;
  text-align: left;
  width: 95%;
}

.error_code {
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
}

.title {
  font-weight: bold;
}

.help_note {
  font-style: italic;
  font-size: 0.8em;
}

.spacer {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 4px;
  margin-right: 4px;
}

.dimmed {
  opacity: 0.35;
}

span.status_icons {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: .1em;
  text-decoration: none !important;
  text-align: center;
  zoom: 1;
  overflow: visible;
  padding: 5px;
}

.padded {
  padding: 1px;
}

.note_icon {
  float: left;
  cursor: help;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/* override a few things in the jquery ui theme */
.ui-button-text-only .ui-button-text { padding: .1em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .1em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .1em 1em .1em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .1em 2.1em .1em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
