<form ng-submit="ok()" novalidate name="form" class="noselect">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Site Settings</h4>
  </div>
  <div class="modal-body">
    <p class="text-info">
      Fill out this form to change the site settings for {{ setting.name }}:
    </p>
    <hr />
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.surveyWithoutSip.$invalid }">
      <label for="surveyWithoutSip"
             class="col-sm-6 control-label"
             tooltip="Allow operators to interview participants without being in an active VoIP call">
        Allow No-Call Interviewing
      </label>
      <div class="col-sm-6">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.surveyWithoutSip.$invalid }">
          <select id="surveyWithoutSip"
                  name="surveyWithoutSip"
                  ng-model="surveyWithoutSip"
                  class="form-control"
                  required>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.callingStartTime.$invalid }">
      <label for="callingStartTime"
             class="col-sm-6 control-label"
             tooltip="The earliest time to assign participants (in their local time)">
        Earliest Call Time
      </label>
      <div class="col-sm-6">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.callingStartTime.$invalid }">
          <input id="callingStartTime"
                 name="callingStartTime"
                 ng-model="callingStartTime"
                 class="form-control"
                 type="text"
                 ng-click="selectTime( 'callingStartTime' )"
                 onkeydown="return false"
                 required />
        </div>
        <span ng-if="form.callingStartTime.$invalid">
          <span class="help-block" ng-if="form.callingStartTime.$error.required">Cannot be blank</span>
        </span>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.callingEndTime.$invalid }">
      <label for="callingEndTime"
             class="col-sm-6 control-label"
             tooltip="The latest time to assign participants (in their local time)">
        Latest Call Time
      </label>
      <div class="col-sm-6">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.callingEndTime.$invalid }">
          <input id="callingEndTime"
                 name="callingEndTime"
                 ng-model="callingEndTime"
                 class="form-control"
                 type="text"
                 ng-click="selectTime( 'callingEndTime' )"
                 onkeydown="return false"
                 required />
        </div>
        <span ng-if="form.callingEndTime.$invalid">
          <span class="help-block" ng-if="form.callingEndTime.$error.required">Cannot be blank</span>
        </span>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.shortAppointment.$invalid }">
      <label for="shortAppointment"
             class="col-sm-6 control-label"
             tooltip="The length of time, in minutes, of a short appointment">
        Short Appointment Length
      </label>
      <div class="col-sm-6">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.shortAppointment.$invalid }">
          <input id="shortAppointment"
                 name="shortAppointment"
                 ng-model="setting.shortAppointment"
                 ng-change="testNumber( 'shortAppointment' )"
                 class="form-control"
                 type="text"
                 required />
        </div>
        <span ng-if="form.shortAppointment.$invalid">
          <span class="help-block" ng-if="form.shortAppointment.$error.required">Cannot be blank</span>
          <span class="help-block" ng-if="form.shortAppointment.$error.format">Invalid format</span>
        </span>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.longAppointment.$invalid }">
      <label for="longAppointment"
             class="col-sm-6 control-label"
             tooltip="The length of time, in minutes, of a long appointment">
        Long Appointment Length
      </label>
      <div class="col-sm-6">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.longAppointment.$invalid }">
          <input id="longAppointment"
                 name="longAppointment"
                 ng-model="setting.longAppointment"
                 ng-change="testNumber( 'longAppointment' )"
                 class="form-control"
                 type="text"
                 required />
        </div>
        <span ng-if="form.longAppointment.$invalid">
          <span class="help-block" ng-if="form.longAppointment.$error.required">Cannot be blank</span>
          <span class="help-block" ng-if="form.longAppointment.$error.format">Invalid format</span>
        </span>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.preCallWindow.$invalid }">
      <label for="preCallWindow"
             class="col-sm-6 control-label"
             tooltip="How many minutes before an appointment or callback that a participant can be assigned">
        Pre-Appointment Call Window
      </label>
      <div class="col-sm-6">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.preCallWindow.$invalid }">
          <input id="preCallWindow"
                 name="preCallWindow"
                 ng-model="setting.preCallWindow"
                 ng-change="testNumber( 'preCallWindow' )"
                 class="form-control"
                 type="text"
                 required />
        </div>
        <span ng-if="form.preCallWindow.$invalid">
          <span class="help-block" ng-if="form.preCallWindow.$error.required">Cannot be blank</span>
          <span class="help-block" ng-if="form.preCallWindow.$error.format">Invalid format</span>
        </span>
      </div>
    </div>
    <div class="form-group"
         ng-class="{ 'has-feedback has-error': form.postCallWindow.$invalid }">
      <label for="postCallWindow"
             class="col-sm-6 control-label"
             tooltip="How many minutes after an appointment before it is considered missed">
        Post-Appointment Call Window
      </label>
      <div class="col-sm-6">
        <div class="input-group"
             ng-class="{ 'has-feedback has-error': form.postCallWindow.$invalid }">
          <input id="postCallWindow"
                 name="postCallWindow"
                 ng-model="setting.postCallWindow"
                 ng-change="testNumber( 'postCallWindow' )"
                 class="form-control"
                 type="text"
                 required />
        </div>
        <span ng-if="form.postCallWindow.$invalid">
          <span class="help-block" ng-if="form.postCallWindow.$error.required">Cannot be blank</span>
          <span class="help-block" ng-if="form.postCallWindow.$error.format">Invalid format</span>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary"
            ng-disabled="form.shortAppointment.$error.format ||
                         form.longAppointment.$error.format ||
                         form.preCallWindow.$error.format ||
                         form.postCallWindow.$error.format ||
                         form.$invalid">OK</button>
  </div>
</form>
