<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <i class="glyphicon glyphicon-refresh glyph-hover rounded pull-right btn-primary"
         ng-if="isComplete && !isLoading"
         ng-click="refresh()"
         tooltip="Click to refresh data"
         tooltip-placement="left"></i>
      Queue Tree <span ng-if="isLoading">(Loading&hellip;)</span>
    </h4>
  </div>
  <div class="container-fluid" ng-switch="isComplete">
    <div ng-switch-when="false">
      <h3 class="text-primary text-center">Waiting for a response from the server</h3>
      <div class="loader"></div>
    </div>
    <div class="spacer row" ng-switch-when="true">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="lastRepopulation" class="control-label">Last re-population</label>
          <input id="lastRepopulation"
                 ng-model="model.form.lastRepopulation"
                 class="form-control"
                 type="text"
                 readonly></input>
        </div>
        <button ng-if="!model.form.isRepopulating"
                class="btn btn-warning full-width"
                type="button"
                cn-really-message="Are you sure you wish to repopulate all queues?
                  This may cause applications to slow down until the processing is complete."
                cn-really-click="model.repopulate()">Re-populate</button>
        <progressbar ng-if="model.form.isRepopulating"
                     class="progress-striped active"
                     type="warning"
                     value="1"
                     max="1"
                     animate="false"
                     style="margin-bottom: 0px; height: 34px;">
          <h5><strong>Please wait&hellip;</strong></h5>
        </progressbar>
        <div class="text-info well small">
          <p>
            The queue automatically and regularly re-populates itself.  You can force the queues to
            re-populate immediately by clicking the Re-populate button below.  However, this operation
          </p>
        </div>
        <div class="form-group">
          <label for="qnaire_id" class="control-label">Questionnaire</label>
          <select id="qnaire_id"
                  ng-model="model.form.qnaire_id"
                  ng-change="refresh()"
                  class="form-control"
                  ng-disabled="model.form.isRepopulating"
                  ng-options="item.value as item.name for item in model.form.qnaireList">
          </select>
        </div>
        <div class="form-group" ng-if="1 < model.form.siteList.length">
          <label for="site_id" class="control-label">Site</label>
          <select id="site_id"
                  ng-model="model.form.site_id"
                  ng-change="refresh()"
                  class="form-control"
                  ng-disabled="model.form.isRepopulating"
                  ng-options="item.value as item.name for item in model.form.siteList">
          </select>
        </div>
        <div class="form-group">
          <label for="language_id" class="control-label">Participant Language</label>
          <select id="language_id"
                  ng-model="model.form.language_id"
                  ng-change="refresh()"
                  class="form-control"
                  ng-disabled="model.form.isRepopulating"
                  ng-options="item.value as item.name for item in model.form.languageList">
          </select>
        </div>
        <div class="text-info well small">
          <p>
            Each branch of the tree represents a queue and includes the total number of participants
            belonging to that queue (refined by the settings above).
            Ranked queues are denoted by their rank (Q<em>n</em>) and highlighted.
            A participant must belong to a ranked queue in order to be assigned for interviewing.
          </p>
        </div>
      </div>
      <div class="col-sm-8" style="padding-right: 0px;">
        <cn-tree model="model.queueTree"></cn-tree>
      </div>
    </div>
  </div>
</div>
