<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <i class="glyphicon glyphicon-refresh glyph-hover rounded pull-right btn-primary"
         ng-if="isComplete && !isLoading"
         ng-click="refresh()"
         tooltip="Click to refresh data"
         tooltip-placement="left"></i>
      Queue Tree <span ng-if="isLoading">(Loading...)</span>
    </h4>
  </div>
  <div class="container-fluid" ng-switch="isComplete">
    <div ng-switch-when="false">
      <h3 class="text-primary text-center">Waiting for a response from the server</h3>
      <div class="loader"></div>
    </div>
    <cn-tree class="spacer" ng-switch-when="true" model="model.queueTree"></cn-tree>
  </div>
</div>
