<div class="utility-view rounded" ng-if="model.assignment">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <i class="glyphicon glyphicon-refresh glyph-hover rounded pull-right btn-primary"
         ng-if="isComplete && !isLoading"
         ng-click="refresh()"
         tooltip="Click to refresh data"
         tooltip-placement="left"></i>
      Current Assignment <span ng-if="isLoading">(Loading&hellip;)</span>
    </h4>
  </div>
  <form name="form" class="form-horizontal" novalidate>
    <div class="form-body spacer">
      <div class="row">
        <label class="col-sm-3 control-label">Participant</label>
        <div class="col-sm-9 form-text">
            {{ model.participant.first_name }}
            {{ model.participant.other_name ? '(' + model.participant.other_name + ')' : '' }}
            {{ model.participant.last_name }}
            ({{ model.participant.uid }})
        </div>
      </div>
      <div class="row">
        <label class="col-sm-3 control-label">Preferred Language</label>
        <div class="col-sm-9 form-text">{{ model.participant.language }}</div>
      </div>
      <div class="row">
        <label class="col-sm-3 control-label">Referring Queue</label>
        <div class="col-sm-9 form-text">{{ model.assignment.queue }}</div>
      </div>
      <div class="row">
        <label class="col-sm-3 control-label">Questionnaire</label>
        <div class="col-sm-9 form-text">{{ model.assignment.qnaire }}</div>
      </div>
    </div>
    <div class="form-footer text-right rounded-bottom bg-info">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="button"
                  class="btn btn-default"
                  ui-sref="participant.view({ identifier: model.participant.getIdentifier() })">
            View Participant
          </button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="model.openNotes()">Notes</button>
        </div>
        <div class="btn-group dropdown">
          <button type="button"
                  class="btn btn-primary dropdown-toggle"
                  id="phoneList"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">Call <span class="caret"></span>
          </button>
          <ul class="dropdown-menu full-width" aria-labelledby="phoneList">
            <li ng-repeat="phone in model.phoneList">
              <a ng-click="">
                {{ phone.rank }}. {{ phone.type }}
                <span class="pull-right">{{ phone.number }}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-success" ng-click="model.endAssignment()">End Assignment</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="vertical-spacer" ng-if="!model.assignment">
  <cn-record-list model="model.participantModel"
                  heading="Assignable Participant List"
                  remove-columns="active cohort source"></cn-record-list>
</div>
