<cn-loading ng-if="model.isAssignmentLoading" message="Loading assignment details"></cn-loading>
<div ng-if="!model.isAssignmentLoading">
  <div ng-if="!model.assignment">
    <cn-record-list model="model.participantModel"
                    heading="Assignable Participant List"
                    remove-columns="active cohort source"></cn-record-list>
  </div>
  <div ng-if="model.assignment">
    <div class="utility-view rounded">
      <div class="container-fluid bg-primary rounded-top">
        <h4>
          <i class="glyphicon glyphicon-refresh glyph-hover rounded pull-right btn-primary"
             ng-click="model.onLoad()"
             tooltip="Click to refresh data"
             tooltip-placement="left"></i>
          Current Assignment</span>
        </h4>
      </div>
      <div class="form-horizontal">
        <div class="container-fluid form-body allow-select">
          <div class="row">
            <label class="col-sm-4 control-label">Participant</label>
            <div class="col-sm-8 form-text">
                {{ model.participant.first_name }}
                {{ model.participant.other_name ? '(' + model.participant.other_name + ')' : '' }}
                {{ model.participant.last_name }}
                ({{ model.participant.uid }})
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">Preferred Language</label>
            <div class="col-sm-8 form-text">{{ model.participant.language }}</div>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">Referring Queue</label>
            <div class="col-sm-8 form-text">{{ model.assignment.queue }}</div>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">Questionnaire</label>
            <div class="col-sm-8 form-text">{{ model.assignment.qnaire }}</div>
          </div>
        </div>
        <hr />
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="text-center">Active Assignment</h4>
              <div class="form-body well allow-select">
                <div class="row">
                  <label class="col-sm-5 control-label">Start Date &amp; Time</label>
                  <div class="col-sm-7 form-text">
                    {{ model.assignment.start_datetime | cnDatetime:'datetimesecond' }}
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-5 control-label">Number of Calls</label>
                  <div class="col-sm-7 form-text">
                    {{ model.phoneCallList ? model.phoneCallList.length : 'Loading...' }}
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-5 control-label">Assignment Time</label>
                  <div class="col-sm-7 form-text">
                    <cn-timer since="{{ model.assignment.start_datetime }}" allow-negative="false">
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-5 control-label">Connected To</label>
                  <div class="col-sm-7 form-text" ng-if="!model.activePhoneCall">No active call</div>
                  <div class="col-sm-7 form-text" ng-if="model.activePhoneCall">
                    {{ model.activePhoneCall.rank }}. {{ model.activePhoneCall.type }}
                    ({{ model.activePhoneCall.number }})
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h4 class="text-center">Previous Assignment</h4>
              <div class="well" ng-if="!model.prevAssignment">
                <div ng-if="model.isPrevAssignmentLoading" class="loading" tooltip="Loading&hellip;"></div>
                <span ng-if="!model.isPrevAssignmentLoading">
                  This participant has never been called for the "{{ model.assignment.qnaire }}" questionnaire.
                </span>
              </div>
              <div class="form-body well allow-select" ng-if="model.prevAssignment">
                <div class="row">
                  <label class="col-sm-5 control-label">User</label>
                  <div class="col-sm-7 form-text">
                    {{ model.prevAssignment.first_name }} {{ model.prevAssignment.last_name }}
                    ({{ model.prevAssignment.name }})
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-5 control-label">Start Date &amp; Time</label>
                  <div class="col-sm-7 form-text">
                    {{ model.prevAssignment.start_datetime | cnDatetime:'datetimesecond' }}
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-5 control-label">End Date &amp; Time</label>
                  <div class="col-sm-7 form-text">
                    {{ model.prevAssignment.end_datetime | cnDatetime:'datetimesecond' }}
                  </div>
                </div>
                <div class="row">
                  <label class="col-sm-5 control-label">Number of Calls</label>
                  <div class="col-sm-7 form-text">{{ model.prevAssignment.phone_call_count }}</div>
                </div>
                <div class="row">
                  <label class="col-sm-5 control-label">Last Phone Status</label>
                  <div class="col-sm-7 form-text">{{ model.prevAssignment.status }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-footer rounded-bottom bg-info">
        <div class="btn-group btn-group-justified vertical-spacer">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-default"
                    ui-sref="participant.view({ identifier: model.participant.getIdentifier() })">
              View Participant
            </button>
          </div>
          <div class="btn-group">
            <button type="button"
                    class="btn btn-default"
                    ui-sref="interview.view({ identifier: model.assignment.interview_id })">
              View Interview
            </button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="model.openNotes()">Notes</button>
          </div>
        </div>
        <div class="btn-group btn-group-justified">
          <div class="btn-group dropdown">
            <button type="button"
                    class="btn btn-primary dropdown-toggle"
                    id="callList"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
              {{ model.activePhoneCall ? 'End Call' : 'Call' }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu full-width" aria-labelledby="callList">
              <li ng-if="model.activePhoneCall" ng-repeat="status in model.phoneCallStatusList">
                <a ng-click="model.endCall( status )">{{ status }}</a>
              </li>
              <li ng-if="!model.activePhoneCall" ng-repeat="phone in model.phoneList">
                <a ng-click="model.startCall( phone )">
                  <div class="row">
                    <div class="col-xs-6">{{ phone.rank }}. {{ phone.type }}</div>
                    <div class="col-xs-6"><span class="pull-right">{{ phone.number }}</span></div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button"
                    class="btn btn-success"
                    ng-click="model.endAssignment()"
                    ng-disabled="model.activePhoneCall">End Assignment</button>
          </div>
        </div>
      </div>
    </div>
    <div class="utility-view rounded vertical-spacer" ng-if="model.activePhoneCall">
      <div class="container-fluid bg-primary rounded-top">
        <h4>Script Launcher</h4>
      </div>
      <div class="form-horizontal">
        <div class="container-fluid form-body allow-select">
          <div class="row">
            <label class="col-sm-4 control-label">Active Script</label>
            <div class="col-sm-8">
              <div class="btn-group full-width">
                <select ng-model="model.activeScript"
                        ng-options="script.name for script in model.scriptList"
                        class="form-control"></select>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">
              {{ model.activeScript.repeated ? 'Last' : '' }} Started Date &amp; Time
            </label>
            <div class="col-sm-8 form-text">
              {{ null == model.activeScript.started_datetime ?
                 'Not started' : model.activeScript.started_datetime |
                 cnDatetime:'datetimesecond' }}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">
              {{ model.activeScript.repeated ? 'Last' : '' }} Completed Date &amp; Time
            </label>
            <div class="col-sm-8 form-text">
              {{ null == model.activeScript.completed_datetime ?
                 'Not completed' : model.activeScript.completed_datetime |
                 cnDatetime:'datetimesecond' }}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">May Be Repeated</label>
            <div class="col-sm-8 form-long-text">{{ model.activeScript.repeated ? 'Yes' : 'No' }}</div>
          </div>
          <div class="row">
            <label class="col-sm-4 control-label">Description</label>
            <div class="col-sm-8 form-long-text">
              {{ null == model.activeScript.description ? 'No description' : model.activeScript.description }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <blockquote class="text-info">
                When launching on a script your browser will open the script in a new tab.
                The application will still be accessible by clicking the brower's
                <em>{{ model.application }}</em> tab.
                <div class="vertical-spacer text-warning">
                  NOTE: If you already have the script tab open then selecting a new script will not automatically
                  switch to the script tab.
                  Simply select the script tab after you have clicked a script button.
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="form-footer text-right rounded-bottom bg-info">
        <button type="button"
                class="btn btn-primary"
                ng-disabled="!model.activeScript.repeated && model.activeScript.completed_datetime"
                ng-click="model.launchScript( model.activeScript )">Launch Script</button>
      </div>
    </div>
  </div>
</div>
