{##
 # availability_calendar.twig
 # 
 # Displays a calendar of all availabilitys for a particular site.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "base_calendar.twig" %}

{% block callbacks %}

  events: function( start, end, callback ) {
    var args = new Object();
    args.start = start.getFullYear() + "-" + ( start.getMonth() + 1 ) + "-" + start.getDate();
    args.end = end.getFullYear() + "-" + ( end.getMonth() + 1 ) + "-" + end.getDate();

    // sometimes the start/end dates are invalid, check to make sure they are
    if( "NaN-NaN-NaN" == args.start || "NaN-NaN-NaN" == args.end ) {
      error_dialog(
        "Error: Invalid date-span",
        "<p>There was an error while getting calendar events from the server.<br>" +
        "Please try again or contact support if this problem persists.</p>",
        true );
    } else {
      var data = ajax_pull( "availability", "feed", args );
      if( undefined != data ) {
        var events = new Array();
        for( var index = 0; index < data.length; index++ ) {
          events.push( data[index] );
        }
        callback( events );
      }
    }
  }

{% endblock callbacks %}
