{##
 # base_view.twig
 # 
 # View user details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}
{% block widget %}
<table>
{% for key, value in item %}
  <tr>
    <td style="white-space: nowrap; padding: 4px;" align="left">
      <span class="title">{{ key }}:</span>
    </td>
    <td style="padding: 4px" width="95%" align="left">
      {{ value }}
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
