{##
 # interview_rescore.twig
 # 
 # An interface to rescore interviews based on recordings.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see widget.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}
  <script type="text/javascript">
    $( function() {
      $( "#{{ widget.full }}__complete" ).click( function() {
        $.cookie( "rescoring_interview", null );
        window.location.reload();
        slot_prev( {{ slot }} );
      } );
    } );
  </script>

{% endblock javascript %}

{% from 'macros.twig' import include_list, confirm_buttons %}
{% block widget %}

  <div class="ui-widget ui-widget-content app-widget-content">
    <div class="spacer">
      Click on the complete button when you are finished rescoring the interview.
      <button id="{{ widget.full }}__complete" style="float:right">Complete</button>
    </div>
  </div>

  {{ include_list( 'recording', recording_list|default(false), true ) }}

{% endblock widget %}
