{% extends "widget.html" %}
{% block widget %}
<table>
  <thead>
    <tr>
      <th><span class="ui-icon ui-icon-check"></span></th>
      <th>name</th>
      <th></th>
      <th></th>
      <th></th>
  </thead>
  <tbody>
    <tr>
      <td><span class="ui-icon ui-icon-check"></span></td>
      <td>this is the first item</td>
      <th><button><span class="ui-icon ui-icon-document"></span></button></th>
      <th><button><span class="ui-icon ui-icon-pencil"></span></button></th>
      <th><button><span class="ui-icon ui-icon-closethick"></span></button></th>
    </tr>
    <tr>
      <td><span class="ui-icon ui-icon-check"></span></td>
      <td>this is the second item</td>
      <th><button><span class="ui-icon ui-icon-document"></span></button></th>
      <th><button><span class="ui-icon ui-icon-pencil"></span></button></th>
      <th><button><span class="ui-icon ui-icon-closethick"></span></button></th>
    </tr>
    <tr>
      <td><span class="ui-icon ui-icon-check"></span></td>
      <td>this is the third item</td>
      <th><button><span class="ui-icon ui-icon-document"></span></button></th>
      <th><button><span class="ui-icon ui-icon-pencil"></span></button></th>
      <th><button><span class="ui-icon ui-icon-closethick"></span></button></th>
    </tr>
    <tr>
      <td><span class="ui-icon ui-icon-check"></span></td>
      <td>this is the forth item</td>
      <th><button><span class="ui-icon ui-icon-document"></span></button></th>
      <th><button><span class="ui-icon ui-icon-pencil"></span></button></th>
      <th><button><span class="ui-icon ui-icon-closethick"></span></button></th>
    </tr>
    <tr>
      <td><span class="ui-icon ui-icon-check"></span></td>
      <td>this is the fifth item</td>
      <th><button><span class="ui-icon ui-icon-document"></span></button></th>
      <th><button><span class="ui-icon ui-icon-pencil"></span></button></th>
      <th><button><span class="ui-icon ui-icon-closethick"></span></button></th>
    </tr>
    <tr>
      <td><span class="ui-icon ui-icon-check"></span></td>
      <td>this is the first item</td>
      <th><button><span class="ui-icon ui-icon-document"></span></button></th>
      <th><button><span class="ui-icon ui-icon-pencil"></span></button></th>
      <th><button><span class="ui-icon ui-icon-closethick"></span></button></th>
    </tr>
    <tr>
      <td><span class="ui-icon ui-icon-check"></span></td>
      <td>this is the second item</td>
      <th><button><span class="ui-icon ui-icon-document"></span></button></th>
      <th><button><span class="ui-icon ui-icon-pencil"></span></button></th>
      <th><button><span class="ui-icon ui-icon-closethick"></span></button></th>
    </tr>
    <tr>
      <td><span class="ui-icon ui-icon-check"></span></td>
      <td>this is the third item</td>
      <th><button><span class="ui-icon ui-icon-document"></span></button></th>
      <th><button><span class="ui-icon ui-icon-pencil"></span></button></th>
      <th><button><span class="ui-icon ui-icon-closethick"></span></button></th>
    </tr>
    <tr>
      <td><span class="ui-icon ui-icon-check"></span></td>
      <td>this is the forth item</td>
      <th><button><span class="ui-icon ui-icon-document"></span></button></th>
      <th><button><span class="ui-icon ui-icon-pencil"></span></button></th>
      <th><button><span class="ui-icon ui-icon-closethick"></span></button></th>
    </tr>
    <tr>
      <td><span class="ui-icon ui-icon-check"></span></td>
      <td>this is the fifth item</td>
      <th><button><span class="ui-icon ui-icon-document"></span></button></th>
      <th><button><span class="ui-icon ui-icon-pencil"></span></button></th>
      <th><button><span class="ui-icon ui-icon-closethick"></span></button></th>
    </tr>
  </tbody>
</table>
{% endblock %}
