{% extends "widget.html" %}
{% block widget %}
<style type="text/css">
  .{{ widget_name }}_title {
    margin-top: 0px;
    margin-bottom: 0.1em;
  }
</style>
<script type="text/javascript">
// make button icons
{% if llist.checkable %}
$( function() {
  $( ".{{ widget_name }}_check" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-check"
    }
  } )
} );
{% endif %}
{% if llist.viewable %}
$( function() {
  $( ".{{ widget_name }}_view" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-document"
    }
  } )
} );
{% endif %}
{% if llist.editable %}
$( function() {
  $( ".{{ widget_name }}_edit" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-pencil"
    }
  } )
} );
{% endif %}
{% if llist.removable %}
$( function() {
  $( ".{{ widget_name }}_remove" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-closethick"
    }
  } )
} );
{% endif %}

// stripe the table
$( function() {
  $(".striped tr").mouseover( function() { $(this).addClass( "over" ); } );
  $(".striped tr").mouseout( function() { $(this).removeClass( "over" ); } );
  $(".striped tr:even").addClass( "alt" );
} );

// create button sets
$( function() { $( "#{{ widget_name }}_check_none" ).button().parent().buttonset() } );
$( function() { $( "#{{ widget_name }}_page_next" ).button().parent().buttonset() } );

// check button functions
$( function() {
  $( "#{{ widget_name }}_check_all" ).click( function() {
    $( "input[id*={{ widget_name }}_check_]" ).attr( "checked", true );
  } )
} );
$( function() {
  $( "#{{ widget_name }}_check_none" ).click( function() {
    $( "input[id*={{ widget_name }}_check_]" ).attr( "checked", false );
  } )
} );
$( function() {
  $( "#{{ widget_name }}_check_invert" ).click( function() {
    $( "input[id*={{ widget_name }}_check_]" ).each( function() {
      $( this ).attr( 'checked', this.checked ? false : true );
    } )
  } )
} );

// page button functions
$( function() {
  $( "#{{ widget_name }}_page_prev" ).click( function() {
    load_widget( 'main', 'user_llist', { "page": {{ llist.page - 1 }} } );
  } )
} );
$( function() {
  $( "#{{ widget_name }}_page_next" ).click( function() {
    load_widget( 'main', 'user_llist', { "page": {{ llist.page + 1 }} } );
  } )
} );

</script>
{% if llist.title %}<h2 class="{{ widget_name }}_title">{{ llist.title }}</h2>{% endif %}
<table class="striped">
  {% if llist.rows | count %}
  <thead class="ui-widget-header">
    <tr>
      {% if llist.checkable %}
      <th><div class="ui-icon ui-icon-check" style="padding:2px"></div></th>
      {% endif %}
      {% for column in llist.columns %}
      <th width="{{ 95 / loop.length }}%">{{ column }}</th>
      {% endfor %}
      {% if llist.viewable %}
      <th></th>
      {% endif %}
      {% if llist.editable %}
      <th></th>
      {% endif %}
      {% if llist.removable %}
      <th></th>
      {% endif %}
  </thead>
  <tbody>
    {% for row in llist.rows %}
    <tr>
      {% if llist.checkable %}
      <td><input type="checkbox" id="{{ widget_name }}_check_{{ row.id }}" /></td>
      {% endif %}
      {% for column in row.columns %}
      <td>{{ column }}</td>
      {% endfor %}
      {% if llist.viewable %}
      <td><button class="{{ widget_name }}_view">view</button></td>
      {% endif %}
      {% if llist.editable %}
      <td><button class="{{ widget_name }}_edit">edit</button></td>
      {% endif %}
      {% if llist.removable %}
      <td><button class="{{ widget_name }}_remove">remove</button></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
  <tfoot class="ui-widget-header">
    <tr>
      <th colspan="0">
        {% if llist.checkable %}
        <span>
          Check boxes:
          <button style="width:70px" id="{{ widget_name }}_check_all">all</button>
          <button style="width:70px" id="{{ widget_name }}_check_none">none</button>
          <button style="width:70px" id="{{ widget_name }}_check_invert">invert</button>
        </span>
        <span style="margin-left:20px">
        {% endif %}
        {% if llist.rows | count %}
        {% set item_from = ( llist.page - 1 ) * llist.items_per_page + 1 %}
        {% set item_to = item_from + llist.rows | count - 1 %}
        Viewing: {{ item_from }} to {{ item_to }} of {{ llist.number_of_items }}
        {% else %}
        No records found.
        {% endif %}
        {% if llist.items_per_page < llist.number_of_items %}
        <span style="margin-left:20px">
        <span>
          Page:
          <button style="width:70px" id="{{ widget_name }}_page_prev"{{ 1 == llist.page ? ' disabled' : '' }}>prev</button>
          <button style="width:70px" id="{{ widget_name }}_page_next"{{ llist.max_page == llist.page ? ' disabled' : '' }}>next</button>
        </span>
        {% endif %}
      </th>
    </tr>
  </tfoot>
</table>
{% endblock %}
