{##
 # main.twig
 # 
 # Base main file.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param boolean survey_url The URL of the survey interface.
 #}

{% extends "base_main.twig" %}

{% block javascript %}
  {{ parent() }}

  {% if survey_url %}
    <script type="text/javascript">
      // Defines the layout when showing the survey pane.
      // Should only be visible when there is an active survey.
      var layout = $( "body" ).layout( {
        south__maskIframesOnResize: ".ui-layout-south",
        applyDefaultStyles: true,
        spacing_open: 8,
        spacing_closed: 16,
        slidable: true,
        size: 500,
        initClosed: false
      } );
    </script>
  {% endif %}
{% endblock javascript %}

{% block slot %}
  {{ parent() }}
  <div id="dialing_pad_slot"></div>
  <div id="timer_slot"></div>
{% endblock slot %}

{% block app %}
  {% if survey_url %}<div class="ui-layout-center">{% endif %}
  {{ parent() }}
  {% if survey_url %}
    <div class="ui-layout-south" id="survey_ui">
      <object style="width:100%; height: 100%; position: absolute;"
              data="{% autoescape false %}{{ survey_url }}{% endautoescape %}"
              id="survey_object">
        <p>Your browser is not supported, try with Firefox 3.6+</p>
      </object>
    </div>
  {% endif %}
{% endblock app %}
