{##
 # recording_list.twig
 # 
 # Lists recordings.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_list.twig for parameters
 #}
{% extends "base_list.twig" %}

{% block header_button_columns %}

  <th width="1%"></th>

{% endblock header_button_columns %}

{% block button_columns %}

  <td width="90%">
    <audio controls style="width:400px; display:block; margin:0px;">
      <source src="{{ row.columns['recording.file'] }}" type="audio/x-wav" />
    </audio>
  </td>

{% endblock button_columns %}
