{##
 # role_edit.twig
 # 
 # View role details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_record.twig for parameters
 #}
{% extends "base_record.twig" %}
{% block record %}
{{ parent() }}
<div class="spacer"></div>
{# Add a list of operations belonging to this role #}
{% include "operation_list.twig" with operation_list %}
{% endblock %}
