{##
 # self_calculator.twig
 # 
 # Creates a calculator widget.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}

{% block javascript %}

  <script type="text/javascript">
    function calculate( str1, op, str2 ) {
      var val1 = parseFloat( str1 );
      var val2 = parseFloat( str2 );
      return "/" == op ? val1 / val2 :
             "X" == op ? val1 * val2 :
             "-" == op ? val1 - val2 :
                         val1 + val2;
    }

    $( function() {
      var stored_number = null;
      var stored_operation = null;
      var $widget = $( "#{{ widget.full }}_widget" );
      var $display = $widget.find( "input" );
      $widget.find( "button" ).click( function() {
        var id = $(this).attr( "id" );
        var current_value = $display.attr( "value" );

        if( id.match( /[0-9.]/ ) ) {
          // number or period
          var last = current_value.match( /.$/ );
          if( "/" != last && "X" != last && "-" != last && "+" != last ) {
            var new_value = 
                            "." == id
                          ? current_value + "."
                          : "0" == current_value
                          ? id
                          : current_value + id;
            $display.attr( "value", new_value );
          } else {
            // second number
            $display.attr( "value", id );
          }
        }
        else {
          // function
          if( "C" == id ) {
            // clear last digit
            var new_value = 1 == current_value.length
                          ? "0"
                          : current_value.substring( 0, current_value.length - 1 );
            $display.attr( "value", new_value );
          }
          else if( "CE" == id ) {
            // clear everything, start over
            $display.attr( "value", "0" );
            stored_number = null;
            stored_operation = null;
          }
          else if( "/" == id || "X" == id || "-" == id || "+" == id ) {
            if( undefined != stored_number && undefined != stored_operation ) {
              current_value = calculate( stored_number, stored_operation, current_value );
            }
            $display.attr( "value", current_value + id );
            stored_number = current_value;
            stored_operation = id;
          }
          else if( "=" == id ) {
            if( undefined != stored_number && undefined != stored_operation ) {
              var new_value = calculate( stored_number, stored_operation, current_value );
              $display.attr( "value", new_value );
              stored_operation = null;
            }
          }
        }
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <table id="{{ widget.full }}_widget">
    <tr><td colspan="4"><input style="width: 95%; text-align: right" value="0" /></td></tr>
    <tr><td colspan="4"><hr class="ui-widget ui-widget-content"></td></tr>
    <tr>
      <td colspan="2"><button style="width: 100%" id="C">C</button></td>
      <td colspan="2"><button style="width: 100%" id="CE">CE</button></td>
    </tr>
    <tr><td colspan="4"><hr class="ui-widget ui-widget-content"></td></tr>
    <tr>
      <td><button style="width: 100%" id="7">7</button></td>
      <td><button style="width: 100%" id="8">8</button></td>
      <td><button style="width: 100%" id="9">9</button></td>
      <td><button style="width: 100%" id="/">/</button></td>
    </tr>
    <tr>
      <td><button style="width: 100%" id="4">4</button></td>
      <td><button style="width: 100%" id="5">5</button></td>
      <td><button style="width: 100%" id="6">6</button></td>
      <td><button style="width: 100%" id="X">X</button></td>
    </tr>
    <tr>
      <td><button style="width: 100%" id="1">1</button></td>
      <td><button style="width: 100%" id="2">2</button></td>
      <td><button style="width: 100%" id="3">3</button></td>
      <td><button style="width: 100%" id="-">-</button></td>
    </tr>
    <tr>
      <td colspan="2"><button style="width: 100%" id="0">0</button></td>
      <td><button style="width: 100%" id=".">.</button></td>
      <td><button style="width: 100%" id="+">+</button></td>
    </tr>
    <tr>
      <td colspan="4"><button style="width: 100%" id="=">=</button></td>
    </tr>
  </table>

{% endblock widget %}
