{##
 # settings.html
 # 
 # Allows the user to define configurable session-based settings.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param string user_name
 # @param string current_site_name
 # @param string current_role_name
 # @param array roles This is an associative array containing the names of all roles which the user
 #                    has access to at the current site.
 # @param array sites This is an associative array containing the names of all sites which the user
 #                    has access to.
 #}
{% extends "widget.html" %}
{% block widget %}
<script type="text/javascript">

// changes the active site
$( document ).ready( function() {
  $( "#{{ widget_name }}_set_site" ).change( function() {
    var selected = $( "#{{ widget_name }}_set_site option:selected" );
    if( 0 != selected.val() ) {
      if( send_operation( 'user', 'set_site', { "site": selected.text() } ) ) {
        slot_refresh( false, 'settings' );
        slot_load( 'main', 'home' );
      }
    }
  } );
} );

// changes the active role
$( document ).ready( function() {
  $( "#{{ widget_name }}_set_role" ).change( function() {
    var selected = $( "#{{ widget_name }}_set_role option:selected" );
    if( 0 != selected.val() ) {
      if( send_operation( 'user', 'set_role', { "role": selected.text() } ) ) {
        slot_refresh( false, 'settings' );
        slot_load( 'main', 'home' );
      }
    }
  } );
} );

</script>
<table>
  <tr>
    <td align="left">
      Welcome {{ settings.user_name }}
    </td>
    <td align="right">
      <button onclick="jQuery.post( 'index.php', { logout: 'logout' } );">logout</button>
    </td>
  </tr>
</table>
<hr>
<table>
  <tr>
    <td align="left" width="50%">
      <span class="title">Site:</span>
      {% if 1 < settings.sites|count %}
      <select id="{{ widget_name }}_set_site" style="width: 140px">
        {% for site in settings.sites %}
        <option{{ settings.current_site_name == site ? ' selected' : '' }}>{{ site }}</option>
        {% endfor %}
      </select>
      {% else %}
      {{ settings.current_site_name }}
      {% endif %}
    </td>
    <td align="left" width="50%">
      <span class="title">Role:</span>
      {% if 1 < settings.roles|count %}
      <select id="{{ widget_name }}_set_role" style="width: 140px">
        {% for role in settings.roles %}
        <option{{ settings.current_role_name == role ? ' selected' : '' }}>{{ role }}</option>
        {% endfor %}
      </select>
      {% else %}
      {{ settings.current_role_name }}
      {% endif %}
    </td>
  </tr>
</table>
{% endblock %}
