{##
 # shortcuts.html
 # 
 # Creates a list of shortcuts which are meant to be used under any circumstance.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @param boolean prev_enabled Whether to enable the previous button
 # @param boolean next_enabled Whether to enable the next button
 # @param boolean home_enabled Whether to enable the home button
 #}
{% extends "widget.html" %}
{% block widget %}
<script type="text/javascript">
// make button icons
$( function() {
  $( "#{{ widget_name }}_prev" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-arrowthick-1-w"
    }
  } )
} );
$( function() {
  $( "#{{ widget_name }}_next" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-arrowthick-1-e"
    }
  } )
} );
$( function() {
  $( "#{{ widget_name }}_refresh" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-arrowrefresh-1-e"
    }
  } )
} );
$( function() {
  $( "#{{ widget_name }}_home" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-home"
    }
  } )
} );
$( function() {
  $( "#{{ widget_name }}_help" ).button( {
    text: false,
    icons: {
      primary: "ui-icon-help"
    }
  } )
} );

// page button functions
$( function() {
  $( "#{{ widget_name }}_prev" ).click( function() {
    slot_prev( 'main' );
  } )
} );
$( function() {
  $( "#{{ widget_name }}_next" ).click( function() {
    slot_next( 'main' );
  } )
} );
$( function() {
  $( "#{{ widget_name }}_refresh" ).click( function() {
    slot_refresh( 'main' );
  } )
} );
$( function() {
  $( "#{{ widget_name }}_home" ).click( function() {
    slot_load( 'main', 'home' );
  } )
} );
$( function() {
  $( "#{{ widget_name }}_help" ).click( function() {
    //slot_load( 'main', 'help' ); TODO
  } )
} );
</script>
<span>
  <button id="{{ widget_name }}_prev"{{ shortcuts.prev_enabled ? '' : ' disabled' }}>back</button>
  <button id="{{ widget_name }}_next"{{ shortcuts.next_enabled ? '' : ' disabled' }}>forward</button>
  <button id="{{ widget_name }}_refresh">refresh</button>
  <button id="{{ widget_name }}_home"{{ shortcuts.home_enabled ? '' : ' disabled' }}>home</button>
  <button id="{{ widget_name }}_help">help</button>
</span>
{% endblock %}
