{##
 # site_view.twig
 # 
 # View site details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "base_view.twig" %}
{% block record %}
{{ parent() }}
<div class="spacer"></div>
{# Add a list of users who hold a role at this site #}
{% include "user_list.twig" with user_list %}
<div class="spacer"></div>
{# Add a list of the activity at this site #}
{% include "activity_list.twig" with activity_list %}
{% endblock %}
