{##
 # site_view.twig
 # 
 # View site details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "base_view.twig" %}
{% block record %}
{{ parent() }}
<div class="spacer"></div>
{# Add an access list pertaining to this site #}
{% include "access_list.twig" with access_list %}
<div class="spacer"></div>
{# Add a list of the activity at this site #}
{% include "activity_list.twig" with activity_list %}
{% endblock %}
