{##
 # user_view.twig
 # 
 # View user details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "widget.twig" %}
{% block widget %}
<table>
  <tr>
    <td><span class="title">Username:</span></td>
    <td>Blah</td>
  </tr>
</table>
{% endblock %}
