{##
 # widget.twig
 # 
 # Base template for all widgets.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
<script type="text/javascript">
$( function() { update_shortcuts(); } );
$( function() { $( "button, input:submit" ).button(); } );
</script>
{% block heading %}
{% if widget_heading %}<div class="ui-widget-header ui-state-hover">{{ widget_heading }}</div>{% endif %}
{% endblock %}
{% block widget %}
{# force an error if this block isn't defined in child tempaltes #}
<script type="text/javascript">
$( function() {
  error_dialog(
    'Interface Error',
    '<p>' +
    '  The interface was unable to complete your request.<br>' +
    '  Please notify a supervisor with the error code.' +
    '</p>' +
    '<p style="text-align:right"><em>Error code: T-{{ widget_subject }}.{{ widget_name }}</em></p>' );
} );
</script>
{% endblock %}
