{##
 # widget.twig
 # 
 # Base template for all widgets.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
<style type="text/css">
  .{{ widget_full_name }}_heading {
    margin-top: 0em;
    margin-bottom: 0.1em;
  }
</style>
<script type="text/javascript">
$( function() { update_shortcuts(); } );
$( function() { $( "button, input:submit" ).button(); } );
</script>
{% if widget_heading %}<h2 class="{{ widget_full_name }}_heading">{{ widget_heading }}</h2>{% endif %}
{% block widget %}
{% endblock %}
