AuthType basic
AuthBasicProvider ldap

AuthLDAPURL "ldap://localhost/ou=Users,dc=your-domain,dc=com"

Require valid-user

AuthLDAPBindAuthoritative off
AuthName "Your Auth Name"
SSLRequireSSL

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule .* index.php [L,QSA]
</IfModule>
