AuthType basic
AuthBasicProvider ldap

AuthLDAPURL "ldap://localhost/ou=Users,dc=my,dc=domain,dc=com"

Require valid-user

AuthzLDAPAuthoritative off
AuthName "YOUR-AUTHNAME"
SSLRequireSSL

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule .* index.php [L,QSA]
</IfModule>
