<?php
/**
 * sabretooth.local.ini.php
 * 
 * Defines local initialization settings for sabretooth, overriding default settings found in
 * sabretooth.ini.php
 */

namespace sabretooth;
global $SETTINGS;

// The file path to the application
$SETTINGS[ 'path' ][ 'SABRETOOTH' ] = '/path/to/app';

// The path to the log file
$SETTINGS[ 'path' ][ 'LOG_FILE' ] = '/path/to/log/file';

// Whether or not to run the application in development mode
$SETTINGS[ 'general' ][ 'development_mode' ] = true;

// The path and url of Limesurvey
$SETTINGS[ 'path' ][ 'LIMESURVEY' ] = '/path/to/limesurvey';
$SETTINGS[ 'url' ][ 'LIMESURVEY' ] = '/url/to/limesurvey';

// The database name, username and password
$SETTINGS[ 'db' ][ 'database' ] = 'put your database name here';
$SETTINGS[ 'db' ][ 'username' ] = 'put your database username here';
$SETTINGS[ 'db' ][ 'password' ] = 'put your database password here';
$SETTINGS[ 'db' ][ 'prefix' ] = 'put your table prefix here';

// The Asterisk AJAM url, username and password
$SETTINGS[ 'voip' ][ 'enabled' ] = true;
$SETTINGS[ 'voip' ][ 'url' ] = 'put your AJAM url here';
$SETTINGS[ 'voip' ][ 'username' ] = 'put your asterisk admin username here';
$SETTINGS[ 'voip' ][ 'password' ] = 'put your asterisk admin password here';
$SETTINGS[ 'voip' ][ 'prefix' ] = 'put your dialing prefix here';
?>
